@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Do Hyeon", sans-serif;
}
button {
    border: none;
}
.appBody {
    width: 80%;
    min-width: 800px;
    /* background-color: rgb(235, 235, 235); */
}
.appHeader {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.appHeader .title {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}
.appHeader .subTitle {
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
}

.appInput {
    margin-top: 4px;
}
.inputTag {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(151, 189, 200);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.inputTag > input {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-left: 0;
}
.titleLable {
    width: 40px;
    margin: 0;
    margin-left: 10px;
}
.detailLable {
    width: 40px;
    margin: 0;
    margin-left: 10px;
}
.inputTag > button {
    background-color: rgb(38, 154, 23);
    padding: 10px 20px;
    border-radius: 5px;

    font-weight: 600;
    color: white;
    margin-right: 0;
}
.inputTag > button:hover {
    background-color: rgb(16, 114, 3);
}
input {
    padding-left: 10px;
}
.tabBody {
    /* width: 100%; */
    margin: 10px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
/* .div-content {
    width: 250px;
} */

.tab-item {
    height: 130px;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    text-align: left;
    border: 4px solid rgba(38, 154, 23, 0.338);
    border-radius: 20px;
}

.doneBody {
    margin: 10px 0 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
h4 {
    font-size: 18px;
}

div > span {
    margin-top: 10px;
    font-size: 14px;
}
.btns {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.btns > button {
    width: 95px;
    height: 25px;
    border-radius: 5px;
}
.btns > .red {
    background-color: rgb(255, 122, 122);
    color: white;
    border: none;
}
.btns > .blue {
    background-color: rgb(37, 184, 200);
    color: white;
    border: none;
}
.btns > .red:hover {
    background-color: rgb(244, 45, 45);
}
.btns > .blue:hover {
    background-color: rgb(8, 161, 212);
    color: white;
    border: none;
}
